name: Java CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Compile HelloWorld.java
        run: javac HelloWorld.java

      - name: Run HelloWorld
        run: java HelloWorld

  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Compile Java files with JUnit
        run: javac -cp .:lib/junit-platform-console-standalone-1.13.4.jar HelloWorld.java HelloWorldTest.java

      - name: Run HelloWorldTest
        run: |
          java -jar lib/junit-platform-console-standalone-1.13.4.jar \
            --class-path . \
            --scan-class-path

    